@model WebMwcClinica.Models.Persona

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerCorreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerTiposangre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerTiposangre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerGenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerCedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerCedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerFechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerFechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerFechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerFechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerFechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerFechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerFechaEliminar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerFechaEliminar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Regresar atras</a>
</div>
